#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

#Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

#Rust
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
